h1 
  | Welcome to dhxMVP, #{username}
p Thank you for signing up for dhxMVP!
p Click  
  | <a href="#{url}/?_activate=true&username=#{email}&token=#{activation}">here</a> 
  | to activate your account and access dhxMVP.
p You may also click <a href="#{url}/application">here</a> and activate it by clicking on the 'activate account' button and provide the following information: 
p Activation code: #{activation}
p Username: #{email}

